body{
    background-color: rgba(176, 233, 162, 0.404);
    font-family: 'Barlow';
}
.mainNav{
    display: flex;
}
.mainNav li{
display: inline-block;
padding: 0 10px;
}
 .mainNav a {
    text-decoration: none;

 }

header{
    margin: 60px 100px 120px 100px;
    padding: 200px;
    text-align: center;
background-color: royalblue;
}
.hello, .thanks{
    display: inline;

}
hr{
    border-bottom: slategrey;
}
.fullSection{
    padding:100px 0 200px 0;
}
footer{
    display: flex;
    justify-content: center;

}
.githuBox{
    border: solid black 1px;
}
.githubName{
    display: block;
}